.grid-box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 2px rgb(0 0 0 / 7%), 0 5px 6px rgb(0 0 0 / 16%);
  height: 200px;
  background-color: #050505;
  color: white;
  border-radius: 10px;
}
