<div class="container-element container-element-position-default">
  <section class="navbar">
    <div class="flex items-center justify-center">
      <img src="assets/logo/company_logo.png" class="dashboardCompanyLogo" />
    </div>
    <nav>
      <button class="link-border" routerLink="home">EUR-USD Details</button>
      <button class="link-border" routerLink="about">EUR-GBP Details</button>
    </nav>
  </section>

  <app-conversion-panel></app-conversion-panel>

  <app-currency-grid></app-currency-grid>
</div>
